.navbar{
    background-color: #8dc63f !important;
    height: 100px;
}

a {
    text-decoration: none;
    color: white
}
 a:hover {
    text-decoration: underline;
    color: grey
}

.navbar-brand {
    font-size: 35px;
}

.nav-item {
    font-size: 25px;
}

.img {
    width: 10px;
    height: 10px
}

.logo-image {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}